.navbar {
  position: relative;
  background-color: var(--light);
}

.navbar .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.5;
}

.navbar .outer-wrapper {
  position: relative;
}

.navbar .inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbar .logo-wrapper {
  display: inline-block;
}

.navbar .logo {
  display: inline-block;
  width: var(--nav-height);
  padding-top: 100%;
  background-image: url('../images/logo-white.svg');
  background-size: contain;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navbar .user-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .name {
  font-size: 1.5rem;
  color: white;
}

.navbar .logout {
  color: white;
  text-decoration: none;
}

.navbar .logout:hover {
  text-decoration: underline;
}

.hotbar {
  display: none;
  align-items: center;
  background-color: var(--light);
  padding: 0 1rem;
}

.layout-editor-body .layout-editor-hotbar, .dashboard-body .dashboard-hotbar {
  display: flex;
}

.hotbar .hotbar-button {
  display: inline-block;
  width: calc(var(--nav-height) / 1.5);
  height: calc(var(--nav-height) / 1.5);
}

.hotbar .hotbar-button:not(:last-child) {
  margin-right: 0.5rem;
}

.dashboard-hotbar .dashboard-hotbar-togglemode {
  background-image: url(../images/settings.svg);
}

.layout-editor-hotbar .editor-hotbar-back {
  background-image: url(../images/back.svg);
}

.layout-editor-hotbar .editor-hotbar-save {
  background-image: url(../images/save.svg);
}

.layout-editor-hotbar .editor-hotbar-add-level {
  background-image: url(../images/plus.svg);
}
