.admin-panel {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 10rem;
  right: 1rem;
  top: 8rem;
  padding: 1rem;
  background-color: var(--dark);
  z-index: 999;
  border: solid black 1px;
}

.admin-panel .admin-toggle-menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 1rem);
  cursor: pointer;
  margin: -0.5rem;
  padding: 0.5rem;
}

.admin-panel.active .admin-toggle-menu {
  margin-bottom: 0.5rem;
}

.admin-panel:not(.active) .function {
  display: none;
}

.admin-panel .admin-toggle-menu div {
  background-image: url('../images/down-arrow-white.svg');
  background-position: initial;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -1rem;
}

.admin-panel p {
  color: white;
  user-select: none;
}

.admin-panel .function {
  position: relative;
  display: flex;
  width: 100%;
}

.admin-panel button {
  color: var(--white);
  background-color: var(--green);
  flex-basis: 1px;
  flex-grow: 1;
  padding: 0.25rem;
}

.admin-panel .function:not(:last-child) {
  margin-bottom: 0.5rem;
}

.admin-panel .function .tooltip {
  position: relative;
  display: inline-block;
  background-color: var(--dark-green);
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('../images/questionmark.svg');
  margin-left: 0.25rem;
}

.admin-panel .function .tooltip:hover div {
  display: block;
}

.admin-panel .function .tooltip div {
  position: absolute;
  transform: translateY(calc(-100% - 0.5rem));
  right: 0;
  width: 15rem;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--dark);
  border: solid black 1px;
  border-radius: 0.25rem;
  display: none;
}
