* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.outer-wrapper {
  text-align: center;
  padding: 0 1rem;
}

.inner-wrapper {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  overflow:auto
}

body > .outer-wrapper {
  min-height: calc(100% - var(--nav-height));
  background-color: var(--dark);
}

button, input[type="submit"] {
  border: none;
  background: transparent;
  cursor: pointer;
}

button[disabled], input[type="submit"][disabled] {
  cursor: default;
}

h2 {
  font-weight: lighter;
  color: var(--white);
}

h3 {
  font-size: 1.25rem;
  font-weight: lighter;
  color: var(--white);
}

label {
  color: var(--white);
}

select {
  padding: 0.25rem;
  -webkit-appearance: menulist-button;
  background: white;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 30%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(180%);
}

.background-image {
  background-size: contain;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.green-button {
  background-color: var(--green) !important;
}

.green-button:hover {
  background-color: var(--dark-green) !important;
}

.green-button[disabled] {
  background-color: var(--dark-green) !important;
  opacity: 0.25;
}
