:root {
  --dark: rgb(10, 40, 100);
  --light: rgb(50, 80, 150);
  --middle: rgb(50, 60, 130);
  --white: white;
  --red: rgb(229, 80, 57);
  --green: rgb(7, 153, 146);
  --dark-green: rgb(7, 123, 146);

  --grey: rgb(47, 53, 66);

  --nav-height: 4rem;
}
