.graph {
  display: grid;
  grid-template-columns: 2rem auto;
}

.graph p {
  color: var(--white);
}

.graph-x {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.graph-y {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  grid-column: 2;
  overflow: hidden;
}

.graph-y p {
  padding: 0 0.5rem;
}

.graph-y.compact p {
  display: none;
}

.graph-y.compact p:first-child, .graph-y.compact p:last-child {
  display: block;
}

.graph-content {
  display: inline-block;
  min-height: 200px;
  padding: 0;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.graph-content::before, .graph-content::after, .graph-x::before, .graph-x::after {
  content: '';
  position: absolute;
  top: calc(50% + 10px);
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--white);
  opacity: 0.25;
}

.graph-content::before, .graph-x::before {
  top: calc(0.5rem + 10px);
}

/* The unordered list holding the data points, no list styling and no spacing */
.graph-data {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Each point on the chart, each a 12px circle with a light border */
.data-point {
  bottom: calc(var(--y) - 20px);
  height: 40px;
  left: calc(var(--x) - 20px);
  position: absolute;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.data-point::after {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  padding: 0.25rem 0.5rem;
  background-color: var(--dark);
  border-radius: 0.5rem;
  color: white;
  opacity: 0;
  transition: opacity 0.15s;
}

.data-point:hover::after {
  opacity: 1;
}

.line-segment {
  position: absolute;
  height: 2px;
  background-color: #f1c40f;

  bottom: var(--y);
  left: var(--x);

  width: calc(var(--hypotenuse) * 1px);
  transform: rotate(calc(var(--angle) * 1deg));
  transform-origin: left bottom;
}
