.layout-editor-list-inner-container {
  display: inline-block;
  background-color: var(--light);
  padding: 0.5rem 2rem 1rem 2rem;
  overflow: hidden;
  border-radius: 0.75rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 25rem;
  vertical-align: top;
}

.layout-editor-list-container h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.layout-editor-list .list-item .list-item-header {
  display: flex;
}

.layout-editor-list .list-item input {
  flex-grow: 1;
  padding: 0.25rem;
}

.layout-editor-list .list-item .green-button {
  width: 2rem;
  height: 2rem;
}

.layout-editor-list .list-item button:not(:first-child) {
  margin-left: 0.5rem;
}

.layout-editor-list .list-item .update-room-name {
  background-image: url(../images/save.svg);
}

.layout-editor-list .list-item .remove-room-name {
  background-image: url(../images/delete.svg);
}

.layout-editor-list .list-item .expand-list-item {
  background-image: url(../images/down-arrow.svg);
}

.layout-editor-list .list-item.active .expand-list-item {
  background-image: url(../images/up-arrow.svg);
}

.layout-editor-list .list-item .list-item-collapsible {
  background-color: var(--dark);
  max-height: 0;
  transition: max-height 0.75s;
  overflow: hidden;
}

.layout-editor-list .list-item.active .list-item-collapsible {
  max-height: 30rem;
}

.layout-editor-list .list-item .list-item-collapsible .device {
  margin: 0.25rem;
}

.layout-editor-list .list-item .list-item-collapsible .device-header {
  display: flex;
}

.layout-editor-list .list-item .list-item-collapsible .device-header button {
  width: 2rem;
  height: 2rem;
  background-image: url('../images/delete.svg');
}

.layout-editor-list .list-item .list-item-collapsible .device-header h3 {
  flex-grow: 1;
  text-align: left;
}

.layout-editor-list .list-item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.layout-editor-list .add-room-name {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.layout-editor-unplaced-devices-container:not(.visible) {
  display: none;
}

.layout-editor-unplaced-devices .list-item .list-item-collapsible {
  max-height: none;
}
