.layout-wrapper {
  position: relative;
  margin: 0 auto;
}

.layout-reel {
  position: relative;
  overflow: hidden;
}

.layout-level {
  max-width: none;
  width: 100%;
  transition: transform 0.5s, opacity 0.5s;
}

.layout-level:not(:first-child) {
  position: absolute;
  top: 0;
}

.layout-level .cell-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}

.layout-level .cell-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.layout-level .cell-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.layout-level .cell {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-level.lowered, .layout-level.raised {
  opacity: 0;
  pointer-events: none;
}

.layout-level.raised {
  transform: translateY(-50%);
}

.layout-level.lowered {
  transform: translateY(+50%);
}

.cell:not([data-roomid = "0"]) {
  border: 0.1rem solid var(--grey);
  background-color: rgb(189, 195, 255);
}

.cell[data-roomid = "0"] .label {
  display: none;
}

.layout-level .cell.hover {
  background-color: rgb(159, 155, 159);
}

/* The same effect as above for cells without a room (because the background colour is already in use) */
.layout-level .cell.hover[data-roomid="0"] {
  opacity: 0.7;
}

.cell.border-notop {
  border-top: none;
}

.cell.border-nobottom {
  border-bottom: none;
}

.cell.border-noleft {
  border-left: none;
}

.cell.border-noright {
  border-right: none;
}

.cell .label {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  user-select: none;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem;
  pointer-events: none;
  color: var(--grey);
  word-break: break-word;
}

.cell[data-roomid="0"] {
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 15%, #465298 15%, #465298 25.2%);
}

.layout-controls, .level-controls {
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  pointer-events: none;
}

.layout-controls {
  display: flex;
}

.layout-controls *, .level-controls * {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  user-select: none;
  background-size: 40%;
  pointer-events: all;
  margin: 0.5rem;
}

.level-controls .remove-level {
  background-image: url(../images/delete.svg);
}

.layout-controls .next, .level-controls .shift-up {
  background-image: url(../images/up-arrow.svg);
}

.layout-controls .prev, .level-controls .shift-down {
  background-image: url(../images/down-arrow.svg);
}

.level-controls .add-row {
  background-image: url(../images/plus.svg);
}

.level-controls .remove-row {
  background-image: url(../images/minus.svg);
}

.layout-controls .layout-options {
  background-image: url(../images/settings.svg);
}

.level-controls {
  display: none;
}

/*
  For layout editor page
 */

.layout-editor .layout-level {
  opacity: 1;
  transform: none;
  position: relative;
  pointer-events: all;
}

.layout-editor .layout-level:not(:last-child) {
  margin-bottom: 5rem;
}

.layout-editor .layout-controls {
  display: none;
}

.layout-editor .level-controls {
  display: flex;
}


.layout-editor .cell .label {
  font-size: 1.25rem;
}
