.modules {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

.module {
  position: relative;
  display: inline-block;
  user-select: none;
}

.module > * {
  z-index: 1;
}

.module .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.15;
  z-index: 0;
}

.module[data-moduletype="graph"] {
  padding: 1rem;
}

.module .module-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
}

.module.full-width {
  grid-column: span 2;
  height: 20rem;
}

.module.rounded {
  border-radius: 0.75rem;
  overflow: hidden;
}

.module.ghosted {
  opacity: 0;
  pointer-events: none;
}

.module-ghost {
  position: absolute;
  background-color: var(--dark);
  opacity: 0.75;
  border-radius: 0.75rem;
  overflow: hidden;
  pointer-events: none;
}

.module-ghost::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  opacity: 0.5;
}

body.module-editmode .module button, body.module-editmode .module a, body.module-editmode .room-popup {
  display: none;
}

@media all and (max-width: 600px) {
  .modules {
    grid-template-columns: repeat(1, 1fr);
  }

  .module.full-width {
    grid-column: span 1;
  }
}
