.room-popup {
  position: absolute;
  background-color: red;
  display: none;
  z-index: 10;
}

.room-popup.active {
  display: block;
}

.room-popup::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid var(--light);
  pointer-events: none;
}

.room-popup-content {
  position: relative;
  background-color: var(--light);
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.room-popup-content-reel {
  display: flex;
  position: absolute;
  width: 200%;
  height: 100%;
  transition: transform 0.35s;
}

.room-popup.engaged .room-popup-content-reel {
  transform: translateX(-50%);
}

.room-popup-content-left, .room-popup-content-right {
  width: 50%;
  height: 100%;
}

.room-popup-content .title-bar {
  display: flex;
  background-color: var(--middle);
}

.room-popup-content .title-bar .back, .room-popup-content .title-bar .close {
  background-size: contain;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  transition: background-size 0.25s;
  cursor: pointer;
}

.room-popup-content .title-bar .close:hover, .room-popup-content .title-bar .back:hover {
  background-size: 70%;
}

.room-popup-content .title-bar .close {
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
}

.room-popup-content .title-bar .back {
  background-image: url(../images/back-white.svg);
}

.room-popup-content .title-bar .title {
  flex-grow: 1;
  padding: 0.25rem;
  width: 1px;
  height: 2rem;
  font-size: 0.75rem;
  text-align: center;
  background: transparent;
  border: none;
  color: var(--white);
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.layout-editor-body .room-popup-content .title-bar .title {
  background: white;
  color: black;
  -webkit-appearance: menulist-button;
}

.room-popup .popup-room-actions {
  padding: 0.25rem;
}

.room-popup .popup-room-actions .make-label:not(.visible) {
  display: none;
}

.room-popup .popup-room-actions button {
  width: 100%;
  padding: 0.5rem;
  color: var(--white);
}

.room-popup .popup-room-actions button:not(:last-child) {
  margin-bottom: 0.25rem;
}

.room-popup .device-interactions {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.room-popup .device-interactions > * {
  display: flex;
  width: 100%;
}

.room-popup .device-interactions > *:not(:first-child) {
  margin-top: 0.25rem;
}

.room-popup .device-interactions .interaction-split {
  align-items: center;
}

.room-popup .device-interactions .interaction-split > *:nth-child(2) {
  flex-grow: 1;
  margin-left: 0.5rem;
}
