.form-container {
  background-color: var(--light);
  max-width: 32rem;
  margin: 5rem auto 2rem auto;
  overflow: hidden;
  border-radius: 0.75rem;
}

.form-selection-bar {
  display: flex;
  flex-wrap: wrap;
}

.form-selection-bar button {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background-color: var(--middle);
  color: var(--white);
  font-size: 1rem;
}

.form-selection-bar button[disabled] {
  background-color: var(--light);
}

.form-container form {
  text-align: left;
  padding: 1rem;
}

.form-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.35s;
}

.form-wrapper.shifted {
  transform: translateX(-50%);
}

.form-wrapper form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.form-wrapper form > div {
  width: 100%;
}

.form-container label {
  display: block;
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-container label:not(:first-child) {
  margin-top: 1rem;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
}

.form-container input[type="submit"] {
  margin-top: 3rem;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.form-container .error {
  font-family: "Arial";
  font-size: 1rem;
  margin: 1rem 0.25rem 0 0.25rem;
  color: var(--red);
}
